
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Pacifico&family=Righteous&family=Sriracha&display=swap');


body{
    padding:0%;
    margin: 0%;
    
}

.navbar-brand{
    font-family: 'Pacifico';
    font-size: 50px;
    color: lightcoral !important;
}

h2{
    font-family: 'Pacifico';
    font-size: 50px;
    color: lightslategrey !important;
}

.nav-link:hover
{
    color: red !important;
    
}

li{
    
    font-size: 20px;
    font-family: 'Lato';
}
.site-content{
    background-image: url(images/welcome.png);
    background-attachment: fixed;

}

.site-title{
    color: white;
    margin-top: 5%;
    margin-bottom:2%;
    
}

.card-title{
    font-family: monospace;
}

.site-content1{
    background-image: url(images/code.webp);
    background-attachment: fixed;
    background-size: cover;

}

